.startScreen {
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
    background-image: url('../../assets/startScreen/startScreen.jpg');
    background-size: cover;


    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 32px;
        gap: 32px;

        >h1 {
            color: white;
            font-size: 128px;
        }

        >button {
            width: 300px;
            height: 52px;
            border-radius: 12px;
            margin-top: 48px;
            background-color: #DB0300;
            border:  1px solid white;
            color: white;
            font-size: 28px;
            transition: all .15s linear;

            &:hover{
                color: #FB9022;
                border: 1px solid #FB9022;
                cursor: pointer;
            }
        }
    }




}