<section class="playField">

    @for(player of game.players; track i; let i = $index){
    <app-user [name]="player" class="playerPosition" [ngStyle]="{'top.px': 264 + ( 84* i)}"></app-user>
    }
    <div class="cardStack">
        <img *ngFor="let card of [0,1,2,3,]; let i = index;" [ngStyle]="{'right.px': i * 5, 'top.px': i*5}"
            src="./assets/cards/card_cover.png" alt="" srcset="">

        <img (click)="takeCard()" class="topCard" style="right: 20px; top: 20px" src="./assets/cards/card_cover.png"
            alt="" srcset="">

        <img *ngFor="let card of game.playedCards" class="playedCard" src="./assets/cards/{{ card }}.png" alt=""
            srcset="">

        <img (click)="takeCard()" *ngIf="animationPlayed" class="pickedCard" style="right: 20px; top: 20px"
            src="./assets/cards/{{ currentCard }}.png" alt="" srcset="">

    </div>


    <button mat-fab color="primary" (click)="openDialog()" class="fabBtn">
        <mat-icon>add</mat-icon>
    </button>
</section>