<app-user 
*ngFor="let player of game.players; let i = index"
[name]="player"
class="playerPosition" [ngStyle]="{'top.px': 100 + ( 120* i)}">
</app-user>

<section class="playField">
    <div class="cardStack">
        <img *ngFor="let card of [0,1,2,3,]; let i = index;" [ngStyle]="{'right.px': i * 5, 'top.px': i*5}"
            src="./assets/cards/card_cover.png" alt="" srcset="">

        <img (click)="takeCard()"  class="topCard" style="right: 20px; top: 20px"
            src="./assets/cards/card_cover.png" alt="" srcset="">

        <img *ngFor="let card of game.playedCards" class="playedCard" src="./assets/cards/{{ card }}.png" alt="" srcset="">

        <img (click)="takeCard()" *ngIf="animationPlayed" class="pickedCard" style="right: 20px; top: 20px"
            src="./assets/cards/{{ currentCard }}.png" alt="" srcset="">

    </div>
</section>