.playField {
    background-image: url('../../assets/board/board.jpg');
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack {
    position: relative;

    img {
        position: absolute;
        width: 150px;
        transform: translate(30%, 0%);
        filter: brightness(1.55);
    }

    .topCard {
        cursor: pointer;
        transition: all .125s ease-in-out;

        &:hover {
            transform: scale(1.15) translate(30%, 0%);
        }
    }

    .pickedCard {
        animation: pickCard-Animation 1s ease-in-out forwards;
    }

    .playedCard {
        transform: scale(1.15) translate(185%, -155%) rotate(200deg);
        right: 225px;
        top: 125px;
    }

    @keyframes pickCard-Animation {
        0% {
            transform: scale(1.25) translate(10%, -10%);
        }

        40% {
            transform: scale(2.2) translate(10%, -10%);
        }

        60% {
            transform: scale(2.2) translate(10%, -10%);
        }

        100% {
            transform: scale(1.15) translate(185%, -155%) rotate(200deg);
            right: 225px;
            top: 125px;
        }
    }
}

.playerPosition {
    position: absolute;
    right: 0;
}

.fabBtn {
    position: absolute;
    right: 32px;
    bottom: 32px;
    background-color: darkgoldenrod;
    z-index: 1;

    &:hover {
        transform: scale(1.125);
        filter: brightness(1.25)
    }
}

.scrollMobile{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
    }

@media (max-width: 720px) {
    .fabBtn {
        right: 6px;
        bottom: 6px;
        transform: scale(.8);
        opacity: .85;
    }
}